backports.shutil-get-terminal-size 
decorator 
Django 
enum34 
ipython-genutils 
pathlib2 
pexpect 
pickleshare 
prompt-toolkit 
ptyprocess 
Pygments 
simplegeneric 
six 
traitlets 
wcwidth 
pandas
django-crispy-forms
django-ckeditor